
body, html, p, h1, h2, h3,h4,h5,h6, section, div{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

img{
    width: 100%;
    position: relative;
    z-index: 1;
    vertical-align: top;
}

.section{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding-top: 10vw;
    padding-bottom: 10vw;
    height: auto;
    overflow: hidden;
}

.section::after{
    display: block;
    content: "";
    clear: both;
}

.section-content{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

}
.invisible{text-indent: -99999px; top: 0; left: 0;}

/*================= main ==================*/
@font-face{
    font-family:'Daum';
    font-style:normal;
    font-weight:400;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff') format('woff');
   }
   @font-face{
    font-family:'Daum';
    font-style:normal;
    font-weight:700;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff') format('woff');
   }
.logo{
    display: block;
    width: 27vw;
    margin: 0 auto;
    margin-top: 18%;
}

.main-title{
    width: 78%;
    margin: 0 auto;
    margin-top: 20%;
}

.main-title p{
    display: inline-block;
    color: #fff;
    font-size: 5vw;
    line-height: 8.5vw;
    font-weight: 100;
}
.main-title hr{
    width: 55%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
    border: 0.5px solid #fff;
    border-bottom: 0;
}

/* .down-btn{
    margin-top: 7%;
    font-weight: 100;
    display: block;
    width: 30vw;
    text-align: center;
    padding: 0.7vw;
    border: 0.5px solid #fff;
    border-radius: 5px;
} */
.download_btn {
    width: 80%;
    margin: 0 auto;
    margin-top: 69%;
}
.download_btn a img {
    display: inline-block;
    width: 40%;
}
.serction: :last-of-type .download_btn a img {
    display: inline-block;
    width: 40%;
}

/*================= section ==================*/
.section01{
    border-bottom: 1px solid #fff2f4;
}
.section-title{

}


.section-title h2{
    font-size: 5.7vw;
    font-weight: 400;
    text-align: center;
    color: #3b3b3b;
}
.section-title p{
    margin-top: 5vw;
    font-size: 3.2vw;
    font-weight: 300;
    text-align: center;
    color: #6a6a6a;
}

.luxlab-content-box{
    width: 87%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #b9b9b9;
    border-radius: 15px;
    margin-top: 10vw;
    padding: 10vw;
    box-sizing: border-box;
}

.luxlab-content-box img{
    width: 20vw;
}

.luxlab-content-box h3{
    margin-top: 4vw;
    font-size: 3.5vw;
    color: #4e4e4e;
}

.luxlab-content-box p{
    margin-top: 4vw;
    font-size: 3.2vw;
    font-weight: 300;
    text-align: center;
    color: #6a6a6a;
}

/*================= section02 ==================*/
.section02{
    background-color: #fff2f4;
    padding-bottom: 0;
}
.section02 img, .section04 img{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 10vw;
}

.section02 .section-title, .section03 .section-title{
    text-align: center;
}
.section02 .section-title img, .section03 .section-title img{
    margin-top: 0;
    width: 30vw;
}

.section02 .section-title h2, .section03 .section-title h2{
    font-size: 4.7vw;
    font-weight: 400;
    text-align: center;
    color: #3b3b3b;
}
.section02 .section-title p, .section03 .section-title p{
    margin-top: 5vw;
    font-size: 3.5vw;
    font-weight: 300;
    text-align: center;
    color: #6a6a6a;
}
.section02 .video{
    display: block;
    width: 80%;
    position: absolute;
    bottom: -30vw;
    z-index: 10;
    left: 10%;
}
.section04{
    background-color: #fff2f4;
}

.section05{
    text-align: center;
    background-color: #ff2d55;
    min-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.section05 img{
    width: 30vw;
}
.section05 h2{
    color: #fff;
    font-size: 4vw;
    font-weight: 200;
    margin-bottom: 10px;
}

.section06{
    box-sizing: border-box;
    padding: 10vw;
    text-align: center;
    background-color: #fcfcfc;
}

.section06 h2{
    margin-bottom: 30px;
    font-size: 6vw;
    font-weight: 400;
}

.section06 p {
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8em;
}

form{
    text-align: left;
}
form::after{
    display: block;
    content: "";
    clear: both;
}
.input-box{
    margin-bottom: 20px;
}
label{
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}
input, textarea{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: solid 2px #e8e8e8;
}
input.user-form-input{
    width: 70%;
    padding: 10px;
    float: left;
}

textarea{
    height: 150px;
}

.submit-btn{
    display: block;
    float: left;
    width: 30%;
    border: 0;
    background-color: #ff2d55;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
}
